/* .klasess{
    background-color: green !important;
    
} */

/* .klasess2{
  padding-left: 690px;
  margin-top: -50px;
}
.klases{
    margin-right: 50px;
    padding: 5px 45px;
    border-radius: 5px;
    border: none;
    background-color: #198754;
    color: white;
  } */